.header {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center;     /* Center vertically */
    height: 20vh;           /* Use the full height of the viewport */
}

.container {
    display: flex;           /* Enable Flexbox */
    gap: 10px;               /* Add a gap between the items */
}

.form-floating {
    flex: 1;                 /* Make both form elements take equal width */
}

.form-floating p {
    display: flex;
    justify-content: center; 
}

.form-floating button {
    display: flex;
    justify-content: center;
    align-items: center;  /* Center content vertically */
    width: 50%;  /* Make button take up full available width */
    padding: 10px;  /* Add some padding for better appearance */
}


textarea {
    height: 400px !important;
    border: solid rgb(0,170,200) 1px !important;
}